$font-color-principal: #fb98d2;
$color-secundario: #3a3a3a;
$color-principal: #242526;
$none: none;
$total-vw: 100vw;
$total-vh: 100vh;
$total-porciento: 100%;
$max-pixel: 100px;
$medio-porcentaje: 50%;
