.seccion-busqueda {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1300px;
  .titulo-buscador {
    width: 100%;
    text-align: center;
  }
  form {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  a {
    text-decoration: none;
  }
}
