@import "_basicos";
.seccion-busqueda {
  max-width: 1300px;
  min-height: $total-vh;
  margin-top: 90px;
  div {
    .titulo-buscador {
      width: $total-porciento;
      text-align: center;
    }
    form {
      @include direction($content: center, $direccion: row);
      width: $total-porciento;
      height: 5vh;
    }
  }
  .resultado-busqueda {
    @include direction($direccion: row);
    a {
      text-decoration: none;
      .item-vista-general {
        transition: 0.5s;
        .conteiner-img {
          height: 400px;
          overflow: hidden;
          img {
            transition: 0.5s linear;
            height: 400px;
          }
        }
        .icono {
          @include direction($direccion: row, $align: center, $content: center);
          background-color: rgba(143, 143, 143, 0.438);
          color: white;
          padding-bottom: 5px;
        }
      }
    }
    .paginas-busqueda {
      @include direction($direccion: row);
      width: $total-vw;
    }
  }
}
.conteiner-img:hover img {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  transition: 1s;
}
.item-vista-general:hover {
  box-shadow: 0 0 20px 10px rgb(12, 12, 12);
  transition: 1s;
}
