.seccion-busqueda {
  display: flex;
  flex-direction: column;
  max-width: 1300px;
  min-height: 100vh;
  div {
    .titulo-buscador {
      width: 100%;
      text-align: center;
    }
    form {
      width: 100%;
      display: flex;
      justify-content: center;
      height: 5vh;
    }
  }
  .resultado-busqueda {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    a {
      text-decoration: none;
      .item-vista-general .conteiner-img {
        height: 400px;
        img {
          height: 400px;
        }
      }
    }
    .paginas-busqueda {
      display: flex;
      width: 100vw;
      justify-content: center;
    }
  }
}
