@import "_basicos";
.slick-slider {
  margin: auto;
  .slick-next:before,
  .slick-prev:before {
    color: rgb(255, 255, 255) !important;
    font-size: 40px;
  }
  .slick-next {
    right: 50px !important;
    z-index: 2;
  }
  .slick-prev {
    left: 30px !important;
    z-index: 2;
  }
  .carousel-item {
    width: $total-porciento;
    height: 500px;
    overflow: hidden;
    .conteiner-img img {
      width: $total-porciento;
    }
  }
  .info-carousel {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.4514180672268907) 0%,
      rgba(0, 0, 0, 1) 96%
    );
    position: absolute;
    bottom: 0;
    color: white;
    width: 100vw;
    height: min-content;
    h3 {
      color: $font-color-principal;
      font-size: 20px;
      margin: 0;
    }
    p {
      width: 70%;
      text-align: center;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}
