@import "_basicos";
.box-cargando {
  width: $total-vw;
  height: $total-vh;
  @include direction($align: center);
  .cargando {
    border: 5px solid rgba(0, 0, 0, 0.1);
    width: $max-pixel;
    height: $max-pixel;
    border-radius: $medio-porcentaje;
    border-left-color: $font-color-principal;
    animation: spin 1s ease infinite;
  }
  span {
    margin: 10px;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
