@import "_basicos";
.imagen-no-encontrada {
  @include direction($direccion: row, $align: center);
  width: 60vw;
  height: 75vh;
  margin: 50px 0;
  img {
    width: $total-porciento;
    height: 70vh;
  }
}
@media screen and (max-width: 720px) {
  .imagen-no-encontrada img {
    height: 35vh;
  }
}
@media screen and (max-width: 425px) {
  .imagen-no-encontrada {
    width: 100%;
  }
}
