.imagen-no-encontrada {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60vw;
  height: 75vh;
  margin: 50px 0;
  img {
    width: 100%;
    height: 70vh;
  }
}
@media screen and (max-width: 720px) {
  .imagen-no-encontrada img {
    height: 35vh;
  }
}
