@import "_basicos";
footer {
  @include direction($align: center);
  background-color: $color-secundario;
  width: $total-porciento;
  ul {
    display: flex;
    padding: 0;
    a {
      text-decoration: $none;
      background: #686c7093;
      margin: 10px;
      border-radius: 10px;
      li {
        color: $font-color-principal;
        list-style: $none;
        margin: 5px;
      }
    }
  }
}
