@import "_basicos";

.item-vista-general {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 20px;
  //   width: min-content;
  width: 250px;
  h3 {
    margin: 0;
    background-color: rgba(143, 143, 143, 0.438);
    padding-top: 10px;
    color: $font-color-principal;
    text-align: center;
  }
  .conteiner-img img {
    width: 100%;
  }
}
