@import "_basicos";

.item-vista-general {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 20px;
  width: 250px;
  .titulo-pelicula {
    margin: 0;
    background-color: rgba(143, 143, 143, 0.438);
    padding: 10px;
    color: $font-color-principal;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .conteiner-img img {
    width: 100%;
  }
}
