@import "_basicos";
nav {
  position: fixed;
  background: linear-gradient(
    180deg,
    rgb(58, 58, 58) 0%,
    rgba(58, 58, 58, 0.8183648459383753) 64%,
    rgba(255, 255, 255, 0) 100%
  );
  z-index: 1;
  width: $total-porciento;
  ul {
    @include direction($direccion: row, $align: center, $content: none);
    list-style: $none;
    padding: 0;

    .home {
      color: $font-color-principal;
      font-size: 30px;
    }
    li {
      margin: 8px;
      background: #686c7093;
      border-radius: 15px;
      padding: 10px;
      a {
        font-size: 20px;
        border-radius: 15px;
        color: $font-color-principal;
        text-decoration: $none;
      }
    }
  }
}
@media screen and (max-width: 425px) {
  nav {
    @include direction($direccion: row);
    ul li {
      margin: 3px;
      padding: 4px;
    }
  }
}
