@import "_basicos";

nav {
  // position: fixed;
  z-index: 1;
  background-color: $color-secundario;
  width: 100%;
  ul {
    list-style: $none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;

    .home {
      color: $font-color-principal;
      font-size: 30px;
    }
    li {
      margin: 8px;
      background: #686c7093;
      border-radius: 15px;
      padding: 10px;
      a {
        font-size: 20px;
        border-radius: 15px;
        color: $font-color-principal;
        text-decoration: $none;
      }
    }
  }
}
