.box-reparto {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #242526a6;
  margin: 5px;
  border-radius: 20px;
  height: 50vh;
  .imagen-reparto {
    width: 120px;
    height: 150px;
    margin-top: 10px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  h3 {
    font-size: medium;
    text-align: center;
    margin: 5px 0;
    width: 50%;
  }
}
