@import "_basicos";
.seccion-container {
  @include direction($align: center, $content: none);
  margin-top: 90px;
  h2 {
    background: linear-gradient(45deg, #fb98b6, #fd3171, #ff005082);
    color: white;
    width: 50%;
    text-align: center;
  }
  .coleccion-tarjetas {
    @include direction($direccion: row, $align: center, $content: center);
    a {
      text-decoration: none;
      .item-vista-general {
        .conteiner-img {
          height: 400px;
          img {
            height: $total-porciento;
          }
        }
        .icono {
          @include direction($direccion: row, $align: center, $content: center);
          background-color: rgba(143, 143, 143, 0.438);
          color: white;
          padding-bottom: 5px;
        }
      }
    }
  }
}
