@import "_basicos";
.seccion-home {
  margin: 10px;
  box-shadow: 7px 0 29px 13px #00000086;
  border: 5px solid $color-secundario;
  width: 40vw;
  overflow: hidden;
  a {
    text-decoration: none;
    h2 {
      @include direction($direccion: row, $align: center);
      background-color: $color-secundario;
      margin: 0;
      font-size: 25px;
      color: $font-color-principal;
    }
  }
  .tarjetas-home {
    height: 50vh;
    overflow: scroll;
    a {
      text-decoration: none;
      .conteiner-tarjeta {
        display: flex;
        align-items: center;
        background-color: #514d4d33;
        color: $font-color-principal;
        margin: 10px;
        .conteiner-img {
          height: 35px;
          min-width: 50px;
          margin-left: 10px;
          img {
            width: $total-porciento;
            height: $total-porciento;
            border-radius: 50%;
          }
        }
        .titulo-tarjeta {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          text-decoration: none;
          font-size: 22px;
          margin-left: 10px;
        }
        .icono {
          display: flex;
          margin-left: auto;
          padding-right: 10px;
        }
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .seccion-home {
    width: 80vw;
  }
}
