// .tarjetas-home {
//   width: 30%;
//   height: 600px;
//   border: black 1px solid;
//   overflow: scroll;

//   .conteiner-tarjeta {
//     margin: 15px;
//     .conteiner-img {
//       width: 25%;
//       img {
//         width: 100%;
//         border-radius: 50px;
//       }
//     }
//     // .titulo-tarjeta {
//     //   text-align: center;
//     //   overflow: hidden;
//     //   white-space: nowrap;
//     //   text-overflow: ellipsis;
//     // }
//   }
// // }

// .seccion-home {
//   width: 50%;
//   // display: flex;
//   // // flex-direction: column;
//   // flex-wrap: wrap;
//   .tarjetas-home {
//     // width: 100%;
//     border: 5px solid violet;
//     height: 600px;
//     overflow: scroll;
//     .conteiner-tarjeta {
//       margin: 15px;
//       width: 80%;
//       .conteiner-img {
//         width: 50px;
//         img {
//           width: 100%;
//           border-radius: 50px;
//         }
//       }
//       .titulo-tarjeta {
//         text-align: center;
//         overflow: hidden;
//         white-space: nowrap;
//         text-overflow: ellipsis;
//       }
//     }
//   }
// }
.seccion-home {
  margin: 10px;
  // display: flex;
  // flex-wrap: wrap;
  // flex-direction: row;
  // width: 50%;
  .tarjetas-home {
    border: 5px solid violet;
    height: 600px;
    width: 40vw;
    overflow: scroll;
    .conteiner-tarjeta {
      width: 100px;
      .conteiner-img {
        width: 50px;
        img {
          width: 100%;
        }
      }
    }
  }
}
