@import "_basicos";
.seccion-home {
  margin: 10px;
  box-shadow: 7px 0 29px 13px #00000086;
  border: 5px solid $color-secundario;
  width: 45vw;
  overflow: hidden;
  h2 {
    background-color: $color-secundario;
    margin: 0;
    height: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
  }
  .tarjetas-home {
    height: 50vh;
    overflow: scroll;
    a {
      text-decoration: none;
      .conteiner-tarjeta {
        background-color: #514d4d33;
        display: flex;
        color: $font-color-principal;
        margin: 10px;
        .conteiner-img {
          width: 50px;
          img {
            width: 100%;
          }
        }
        .titulo-tarjeta {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          text-decoration: none;
          font-size: 22px;
        }
      }
    }
  }
}
